{% extends 'index.twig' %}

{% block content_top %}
	<div class="row  row-cols-1 row-cols-lg-2 align-items-center text-center text-lg-start justify-content-center flex-column-reverse flex-lg-row justify-content-lg-between">
      <div class="col" >
        <h1 class="mb-3 mt-3 mt-lg-0"> APP 與 社群行銷  
          <span class="d-block"> 解決方案 </span>
        </h1>
        <p class="mb-3"> 藍色行動目前致力於管理式APP解決方案，提供想要做客製化企業APP的解決方案，另外也提供Youtube自媒體的logo與吉祥物的設計。

        </p>

        <a href="/service/app" class="btn consult-bn"> 服務內容 </a>
        <a href="/case" class="btn consult-bn contact-bn"> 合作案例 </a>
      </div>
      <div class="col">
        <figure>
          <img src="images/pngwing.com (1).png" alt="banner-img" />
        </figure> 
      </div>
  </div>

{% endblock %}