{% extends 'index.twig' %}
{% block content %}
	<div class="row  row-cols-1 row-cols-lg-2 align-items-center text-center text-lg-start justify-content-center flex-column-reverse flex-lg-row justify-content-lg-between">
              <div class="col" >
                <h1 class="mb-3 mt-3 mt-lg-0"> IT Solutions & Business  
                  <span class="d-block"> Services Company </span>
                </h1>
                <p class="mb-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, magna aliqua. ipsum is simply dummy text of the printing.
      
                </p>

                <a href="#" class="btn consult-bn"> About </a>
                <a href="#" class="btn consult-bn contact-bn"> Contact </a>
              </div>
              <div class="col">
                <figure>
                  <img src="images/pngwing.com (1).png" alt="banner-img" />
                </figure> 
              </div>
          </div>

<% end block %>          