{% extends 'index.twig' %}

{% block content %}
	<h1 class="text-center" data-aos="fade-up">Contact Us</h1>
         <ul class="list-unstyled d-flex justify-content-center" data-aos="fade-down">
           <li> Home </li>
           <li> <a href="contact.html"> Contact Us</a> </li>
         </ul>

{% endblock %}