{% extends 'index.twig' %}

{% block content_top %}
	<h1 class="text-center">合作案例</h1>
         <ul class="list-unstyled d-flex justify-content-center">
           <li> 首頁 </li>
           <li> <a href="/case">合作案例</a> </li>
         </ul>

{% endblock %}

{% block content_body %}
  <section class="total-body overflow-hidden mobile-comon-animation mt-5 pt-3 d-block">
   <div class="service-page comon-services-pge">

      <div class="ecom-part">
      <div class="container">
          <div class="row row-cols-1 row-cols-lg-2 gx-lg-5">
              <div class="col" data-aos="fade-left" id="componentWrapper">

                  <a  data-fancybox="gallery" href="/images/case_backend_1.png" data-lightbox="app" class="comon-projets">
                    <figure>
                       <img src="/images/case_backend_1_thumb.png" alt="backend1"/>
                    </figure> 
                 </a>

                 <a  data-fancybox="gallery" href="/images/case_backend_2.png" data-lightbox="app" class="comon-projets">
                    <figure>
                       <img src="/images/case_backend_2_thumb.png" alt="backend2"/>
                    </figure> 
                 </a>

              </div>
              <div class="col " data-aos="fade-right">
                  <h2> 羽球密碼 </h2>
                  <h6 class="mt-4"> 雲端管理系統 </h6>
                  <p class="mt-3">由於APP跟網站上架方式不一樣，APP要讓使用者使用，必須通過Apple或Google的審查，才能讓使用者從store來更新內容，而這審查的時間平均約需一週以上的時間，所以無法做到即時更新資料，所以對有即時更新資料的APP而言，就必須透過網路平台來做資料的更新，才能讓使用APP的使用者取得最新的內容。</p>
                 <p>管理者透過瀏覽器來操作雲端管理後台，只要透過管理系統的權限管理，各類型的管理者就可以隨時、隨地來更新系統資料，以讓使用者的APP可以取得企業的最新資訊，例如商家透過雲端來上架新產品，使用者就可以用APP來購買企業最新的產品，或者是讀取企業最新發佈的訊息。
                 </p>
                 <p> 「羽球密碼」雲端管理系統可以做
                 <ul>
                    <li>會員管理。 </li>
                    <li>球隊管理。</li>
                    <li>球場管理。</li>
                    <li>教練管理。</li>
                    <li>教學管理。</li>
                    <li>課程管理。</li>
                    <li>體育用品店管理。</li>
                    <li>商品管理。</li>
                    <li>訂單管理。</li>
                    <li>與我聯絡管理。</li>
                 </ul>
                 </p>
                 <p>透過這些管理系統，就可以讓「羽球密碼」APP，可以永遠保持在最新的狀態，使用者在使用APP時，就不會有資訊不對稱的情形發生。
                 </p>
              </div>
          </div>
      </div>
      <hr />
      <div class="container">
          <div class="row row-cols-1 row-cols-lg-2 gx-lg-5">
              <div class="col " data-aos="fade-left">

                  <div class="about-mn-pic">
                      <figure>
                          <a href="/images/case_app_1.png" data-lightbox="app"><img src="/images/case_app_1.png" alt="pn"/></a>
                      </figure>
                  </div>
                  <div class="about-mn-pic">
                      <figure>
                          <a href="/images/case_app_2.png" data-lightbox="app"><img src="/images/case_app_2.png" alt="pn"/></a>
                      </figure>
                  </div>
              </div>
              <div class="col " data-aos="fade-right">
                  <h6 class="mt-4"> APP </h6>
                  <p class="mt-3">目前APP是使用者最方便的使用工具，人手一機更是加速APP成為大家最喜歡使用的介面，因此企業開發APP已經成為勢不可擋的趨勢了，
                  之前是每個企業都要架設一個官網，然後做好SEO，讓使用者在用搜尋引擎時，可以導引到企業的網站，現在世代已經變遷，用各種補貼的方式來吸引使用者加入企業的APP已經成為新顯學，雖然企業必須再重新投入一筆開發APP的費用，但是趨勢不可擋，也看到越來越多的企業已經投入APP的開發與運營，因此</p>
                 <p> 「羽球密碼」APP有下列功能
                 <ul>
                    <li>球隊列表與內容。 </li>
                    <li>球館列表與內容。</li>
                    <li>教練課程列表與內容。</li>
                    <li>商城與訂購。</li>
                    <li>教練列表與內容。</li>
                    <li>羽球密碼Youtube影片。</li>
                    <li>體育用品店列表與內容。</li>
                    <li>會員資料與認證。</li>
                    <li>會員「喜歡」列表。</li>
                    <li>會員訂單管理。</li>
                    <li>會員球隊管理。</li>
                    <li>會員教練課程管理。</li>
                 </ul>
                 </p>
                 <p>透過「羽球密碼」APP，就可以讓喜歡羽球的人員，方便打羽球與購物。
                 </p>
              </div>
          </div>
      </div>
      </div> 
   </div>

 </section>
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="/js/lightbox2/css/lightbox.min.css">
{% endblock %}

{% block js %}
<script src="/js/lightbox2/js/lightbox-plus-jquery.min.js"></script>

<script type="text/javascript">
  function dump(info){
    console.info(info);
  }

  // jQuery(document).ready(function($){
  //   $('.lightbox').lightbox();
  // });
</script>
{% endblock %}  

















