{% extends 'index.twig' %}

{% block content_top %}
	<h1 class="text-center">合作案例</h1>
         <ul class="list-unstyled d-flex justify-content-center">
           <li> 首頁 </li>
           <li> <a href="/case">合作案例</a> </li>
         </ul>

{% endblock %}

{% block content_body %}
  <section class="total-body overflow-hidden mobile-comon-animation mt-5 pt-3 d-block">
   <div class="about-page comon-services-pge">

      <div class="container">
          <div class="row row-cols-1 row-cols-lg-2 gx-lg-5">
              <div class="col " data-aos="fade-left">
                  <div class="about-mn-pic">
                      <figure>
                          <img src="images/gols.png" alt="pn"/>
                      </figure>
                  </div>
              </div>
              <div class="col " data-aos="fade-right">
                  <h2> 我們致力於網路與行銷解決方案 </h2>
                  <h6 class="mt-4"> 從網站到APP建置，又跨入自媒體行銷，藍色行動有限公司，一直專注於網路上的解決方案 </h6>
                  <p class="mt-3">從網路發展開始，藍色行動就從網站架設技術開始邁入，最擅長的是客製化的網站架設 
                      並建立後台管理系統，方便企業內人員管理前台網站。</p>
                 <p>在行動網路普及後，APP的興起，讓本公司又繼續投入APP的建置，以配合客戶的需求，
                    所以建置管理後台，讓企業APP可以隨時更新運作這一整套的解決方案，就成為藍色行動目前對客戶最重視的解決方案。
                    目前已經線上運作的案例有「羽球密碼」與「房地王」兩個APP。
                 </p>
                 <p> 透過「羽球密碼」，藍色行動又誇入youtube自媒體的營運，在4年的時間累積約5萬名的訂閱，在「羽球」這個領域已經達到業界第一的地位，
                 因此想將此經驗分享給有心經營自媒體的企業，給出經營粉絲團的最佳建議。 </p>
                 <p>傳統行銷的方式已經失靈，網路行銷的成本也漸漸墊高，所以轉向最夯的「自媒體行銷」將慢慢形成主流，如何做分眾行銷，接觸到最需要的客戶，將是之後網路行銷最重要的課題，從原本的「google」關鍵字廣告到「facebook」，雖然也可以做到精準投放廣告，但由於競爭者眾，加上成本節節高升，這兩種網路行銷方式，已經造成業者負擔越來越重，一方面成本越來越高，一方面效果越來越差，但不投放又沒有更佳的替代方案，因此只好持續投入更高的成本來取得下滑的效果，造成惡性循環，只有讓「google」與「facebook」賺進更多的利益。
                 因此挪出部分的廣告預算來經營「自媒體行銷」，將是陷入兩難的解方，而親自經營自媒體的我們將可以提供自身的經驗當作免費顧問，協助企業跨入「youtube」自媒體經營影音頻道，降低對「google」與「facebook」的依賴，才能在網路行銷持續保持高度的成效。
                 </p>
              </div>
          </div>
      </div>    
   </div>

 </section>
{% endblock %}