{% extends 'index.twig' %}

{% block content_top %}
	<h1 class="text-center">關於我們</h1>
         <ul class="list-unstyled d-flex justify-content-center">
           <li> 首頁 </li>
           <li> <a href="/about">關於我們</a> </li>
         </ul>

{% endblock %}

{% block content_body %}
  <section class="total-body overflow-hidden mobile-comon-animation mt-5 pt-3 d-block">
   <div class="about-page comon-services-pge">

      <div class="container">
          <div class="row row-cols-1 row-cols-lg-2 gx-lg-5">
              <div class="col " data-aos="fade-left">
                  <div class="about-mn-pic">
                      <figure>
                          <img src="images/gols.png" alt="pn"/>
                      </figure>
                  </div>
              </div>
              <div class="col " data-aos="fade-right">
                  <h2> 我們致力於網路與行銷解決方案 </h2>
                  <h6 class="mt-4"> 從網站到APP建置，又跨入自媒體行銷，藍色行動有限公司，一直專注於網路上的解決方案 </h6>
                  <p class="mt-3">從網路發展開始，藍色行動就從網站架設技術開始邁入，最擅長的是客製化的網站架設 
                      並建立後台管理系統，方便企業內人員管理前台網站。</p>
                 <p>在行動網路普及後，APP的興起，讓本公司又繼續投入APP的建置，以配合客戶的需求，
                    所以建置管理後台，讓企業APP可以隨時更新運作這一整套的解決方案，就成為藍色行動目前對客戶最重視的解決方案。
                    目前已經線上運作的案例有「羽球密碼」與「房地王」兩個APP。
                 </p>
                 <p> 透過「羽球密碼」，藍色行動又誇入youtube自媒體的營運，在4年的時間累積約5萬名的訂閱，在「羽球」這個領域已經達到業界第一的地位，
                 因此想將此經驗分享給有心經營自媒體的企業，給出經營粉絲團的最佳建議。 </p>
                 <p>傳統行銷的方式已經失靈，網路行銷的成本也漸漸墊高，所以轉向最夯的「自媒體行銷」將慢慢形成主流，如何做分眾行銷，接觸到最需要的客戶，將是之後網路行銷最重要的課題，從原本的「google」關鍵字廣告到「facebook」，雖然也可以做到精準投放廣告，但由於競爭者眾，加上成本節節高升，這兩種網路行銷方式，已經造成業者負擔越來越重，一方面成本越來越高，一方面效果越來越差，但不投放又沒有更佳的替代方案，因此只好持續投入更高的成本來取得下滑的效果，造成惡性循環，只有讓「google」與「facebook」賺進更多的利益。
                 因此挪出部分的廣告預算來經營「自媒體行銷」，將是陷入兩難的解方，而親自經營自媒體的我們將可以提供自身的經驗當作免費顧問，協助企業跨入「youtube」自媒體經營影音頻道，降低對「google」與「facebook」的依賴，才能在網路行銷持續保持高度的成效。
                 </p>
              </div>
          </div>
      </div>

      {# <div class="our-mmison">
          <div class="about-svg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f6f8fd" fill-opacity="1" d="M0,160L40,176C80,192,160,224,240,250.7C320,277,400,299,480,288C560,277,640,235,720,224C800,213,880,235,960,234.7C1040,235,1120,213,1200,218.7C1280,224,1360,256,1400,272L1440,288L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"></path></svg>
          </div>
            <div class="container">
                <div class="row row-cols-1 mt-md-5 mt-lg-0 row-cols-lg-2 gx-lg-5 align-items-center">
                    <div class="col " data-aos="fade-right">
                        <h2> Our Mission </h2>
                        <p> We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in
                            their duty through weakness of will, which is the same as saying.</p>
                        <ul class="list-unstyled mt-4">
                            <li> <i class="fas fa-long-arrow-alt-right"></i> consectetur adipiscing elit </li>
                            <li> <i class="fas fa-long-arrow-alt-right"></i> consectetur adipiscing elit </li>
                            <li> <i class="fas fa-long-arrow-alt-right"></i> consectetur adipiscing elit </li>
                            <li> <i class="fas fa-long-arrow-alt-right"></i> consectetur adipiscing elit </li>
                            <li> <i class="fas fa-long-arrow-alt-right"></i> consectetur adipiscing elit </li>
                            <li> <i class="fas fa-long-arrow-alt-right"></i> consectetur adipiscing elit </li>
                            </ul>
                    </div>
                    <div class="col " data-aos="fade-left">
                        <figure class="mb-0">
                            <img src="images/gols.png" alt="pn"/>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="about-svg-bt">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f6f8fd" fill-opacity="1" d="M0,64L40,85.3C80,107,160,149,240,149.3C320,149,400,107,480,101.3C560,96,640,128,720,128C800,128,880,96,960,90.7C1040,85,1120,107,1200,144C1280,181,1360,235,1400,261.3L1440,288L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
            </div>
      </div>

     
      <div class="our-gols">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 gx-lg-5 align-items-center">
                <div class="col " data-aos="fade-up">
                    <figure class="mb-0">
                        <img src="images/mision.png" alt="pn"/>
                    </figure>
                </div>
                <div class="col " data-aos="fade-down">
                    <h2> Our Goals </h2>
                    <p> We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in
                        their duty through weakness of will, which is the same as saying.</p>
                    <ul class="list-unstyled mt-4">
                        <li> <i class="fas fa-long-arrow-alt-right"></i> consectetur adipiscing elit </li>
                        <li> <i class="fas fa-long-arrow-alt-right"></i> consectetur adipiscing elit </li>
                        <li> <i class="fas fa-long-arrow-alt-right"></i> consectetur adipiscing elit </li>
                        <li> <i class="fas fa-long-arrow-alt-right"></i> consectetur adipiscing elit </li>
                        <li> <i class="fas fa-long-arrow-alt-right"></i> consectetur adipiscing elit </li>
                        <li> <i class="fas fa-long-arrow-alt-right"></i> consectetur adipiscing elit </li>
                        </ul>
                </div>
                
            </div>
        </div>
      </div> #}
          
   </div>

 </section>
{% endblock %}